.switch-state  {
	cursor: pointer;
}

.dataTable thead th:last-child, .dataTable tfoot th:last-child, .dataTable tbody td:last-child {
	text-align: right;
}

.dataTable .dataTables_empty {
	text-align: center !important
}

.message-form .select2-container--default .select2-selection--single, 
.message-form .select2-container--default .select2-selection--multiple{
	border-width: 0 0 1px 0;
	border-radius: 0;
}

.message-form .select2-container--default .select2-selection--single .select2-selection__rendered{
	padding-left: 0;
}

.select2-container--open .select2-dropdown--below{
	border:0;

}

/*Buscador chat */

.conversations-searcher .notification.notification-layout-2 li {
	background-color: #eee;
}

.notification:not(.notification-loading):before{
	content: '' !important;
}