@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');

*{
	font-family: 'Be Vietnam', sans-serif;
}
.page-content{
	color: #000;
}

.bg-grey{
	background-color: #f4f4f4;
}

.breadcrumb-item + .breadcrumb-item::before{
	content:"-";
}

.pretor-menu-text::after{content:'Cerrar menú';}
body.nav-function-hidden .pretor-menu-text::after{ content:"Abrir menú"; }

main.page-content{
	background-color: white;
	/*padding:0;*/
	padding-top: 2rem;
	padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}


main.page-content>.row{
	padding-top: 2rem;
	padding-bottom: 2rem;
	/*padding-left: 5rem;*/
	/*padding: 1.5rem 2rem;*/
}


@media only screen and (max-width: 992px){
	main.page-content .row{
		padding-left: 0;
	}
}


/*main.page-content .row.pretor-table{
	padding-left: 0;
}

main.page-content .row.pretor-table > *:not(table){
	padding-left: 6rem;
}*/

.subtitle{
  font-size: 1.3em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 1em;
}

.title{
	font-size: 3.5em;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #000000;
	line-height: 64px;
}

.pretor-card{
	padding: 17px;
	/*border: 1px solid black;*/
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 145px;
	min-width: 191px;
	background-color: white;
}

.pretor-card h1{
	margin:0;
	font-size: 3.5em;
	font-weight: normal;
	line-height: 1;
}

.pretor-card span,
.pretor-card a{
	font-weight: 600;
}

.pretor-card span {font-size: 15px}


/*Pretor table*/
table#datatable.table{
	border: none;
}

table#datatable.table thead th{
	border: none;
	border-bottom: 1px solid #b3b3b3;
	vertical-align: unset;
	font-weight: 600;
	color: black;
}

table#datatable.table tbody tr td{
	border:none;
	border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 500;
    color: black;
}

table#datatable.table tbody tr{
    background-color: transparent;
    transition: all .4s;
}

table#datatable.table tbody tr td.sorting_1,
table#datatable.table th.sorting_desc,
table#datatable.table th.sorting_asc{
    background-color: transparent;
}

/*table.table thead th:first-child{
	padding-left: 6rem;
}

table.table tbody td:first-child{
	padding-left: 6rem;
}*/

table#datatable td.pretor-dot::before{
	content: '';
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    width: 7px;
    height: 7px;
    background: black;
    margin-bottom: 2px;
    margin-right: 4px;
    border-radius: 50%;
}

table#datatable td.pretor-dot.dot-primary::before {
  background-color: #ddd;
}

table#datatable td.pretor-dot.dot-success::before {
  background-color: #000;
}

table#datatable td.pretor-dot.dot-danger::before {
  background-color: #ddd;
}

table#datatable td.pretor-dot.dot-warning::before {
   background-color: #545454;
}

table#datatable td.pretor-dot.dot-info::before {
  background-color: #000;
}

table#datatable td.pretor-dot.dot-secondary::before {
  background-color: #545454;
}

/*********************************
		DATATABLE STYLING
*********************************/

/*Search input*/
div.dataTables_wrapper input,
div.dataTables_wrapper select{
	background-color: #fff;
	border-radius: 20px !important;
	border: 1px solid black;
	color: black;
	padding-left: 20px;
	font-weight: 600;
	box-shadow: none;
	/*border:none;*/
}

div.dataTables_wrapper div.dataTables_filter input::-webkit-input-placeholder{
	font-weight: 600;
  color: black;
}
div.dataTables_wrapper div.dataTables_filter input::-ms-input-placeholder{
	font-weight: 600;
  color: black;
}
div.dataTables_wrapper div.dataTables_filter input::placeholder{ 
  font-weight: 600;
  color: black;
}

/*table#datatable.table td a.edit,
table#datatable.table td a.delete{
	font-size: 1.3em;
}
*/
/*********************************
	    END DATATABLE STYLING
*********************************/

/*simulate form in show. Diseño luis*/
.form .form-control{
	height: auto;
}

.form label{
	font-size: .7rem;
    font-weight: 600;
    margin-bottom: 0;
}